<div class="container">
    <h1>Realize sua postagem!</h1><br>
    <br>
    <div id="status" class="invisible">{{{errormessage}}}</div>
        <form runat="server" class="form-group row" action="/rota_postagem/cadastro/add" method="POST" enctype="multipart/form-data">            
            <div class="col-md-7">
                <input accept="image/*" type="file" name="img" id="imgInp">
                <br><br>
                <div class="row">
                    <div class="col">
                        <h5>Tipo de Postagem:</h5>
                        <select class="custom-select" name="TipoPostagem" id="">
                            {{#each tPostagem}}
                            <option value="{{tb_tipopostagem_id}}">{{tb_tipopostagem_tipo}}</option>
                            {{else}}
                            <option value="0">Nenhum adiministrador cadastrado</option>
                            {{/each}}
                        </select>
                    </div>
                    <div class="col">
                        <h5>Adiministrador:</h5>
                        <select class="custom-select" name="Adiministrador" id="">
                            {{#each adiministrador}}
                            <option value="{{tb_adiministrador_id}}">{{tb_adiministrador_nome}}</option>
                            {{else}}
                            <option value="0">Nenhum adiministrador cadastrado</option>
                            {{/each}}
                        </select>
                    </div>
                    <div class="col">
                        <h5>Pet:</h5>
                        <select class="custom-select" name="Pet" id="">
                            {{#each pet}}
                            <option value="{{tb_pet_id}}">{{tb_pet_nome}}</option>
                            {{else}}
                            <option value="0">Nenhum adiministrador cadastrado</option>
                            {{/each}}
                        </select>
                    </div>
                </div>
                <br>
                <input class="form-control" placeholder="Título da Postagem" type="text" name="titulo">
                <br>
                <textarea placeholder="Conteúdo da sua postagem" class="form-control" type="text" name="conteudo" widht="300" rows="7"></textarea><br><br>
                <input class="btn btn-block btn-success" type="submit" value="Fazer Postagem">
                <br><br>
            </div>
            <img id="imagem" class="col-md-4" src="#" width="20%" height="30%" alt="Selecione a imagem">
            <script>
                imgInp.onchange = evt => {
                    const [file] = imgInp.files
                    if (file) {
                        imagem.src = URL.createObjectURL(file)
                    }
                }
            </script>
        </form>
</div>