<div class="container ">
    <h1>Lista de postagens</h1>
    <br>
    <div class="row">
        <div class="col-md-8">
            <select class="custom-select" name="tipopostagem" id="idTipopostagem">
                <option value="">Geral</option>
                {{#each tipoPostagem}}
                <option value="{{tb_tipopostagem_id}}">{{tb_tipopostagem_tipo}}</option>
                {{/each}}
            </select>
        </div>
        <input type="button" value="Buscar!" class="btn btn-success col-md-2" onclick="redirecionar()"></input>
        <script>
            function redirecionar() {
                var e = document.getElementById("idTipopostagem");
                var id = e.value;
                document.location.href = "/admpostagem/" + id;
            }
        </script>
    </div>
    <h3>Adicionar postagem</h3>
    <a class="btn btn-success" style="color: ivory;">Cadastrar</a>
    <br>
    <br>
    <table class="table table-bordered table-responsive-sm">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Título</th>
                <th scope="col">Tipo Postagem</th>
                <th scope="col">Conteúdo</th>
                <th scope="col">IMG</th>
                <th scope="col">Editar</th>
                <th scope="col">Excluir</th>
            </tr>
        </thead>
        <tbody>
            {{#each postagem}}
            <tr>
                <th scope="row">{{tb_postagem_id}}</th>
                <td>{{tb_postagem_titulo}}</td>
                <td>{{tb_tipopostagem_id}}</td>
                <td>{{tb_postagem_conteudo}}</td>
                <td><img src="{{tb_postagem_img}}" width="100px" height="100px" /></td>
                <td>
                    <center>
                        <a type="button" class="btn-primary btn" href="/editarpostagem/{{tb_postagem_id}}"
                            disabled="true">Editar</a>
                    </center>
                </td>
                <td>
                    <center>
                        <a type="button" class="btn-primary btn" style="background-color:red; border-color:red" href="/excluirpostagem/{{tb_postagem_id}}"
                            disabled="true">Excluir</a>
                    </center>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>
<br>