<div >
    <center class="container">
        <h1>
            Adote! Ame!
        </h1>
        <br>
        <p>
            Eles só precisam de afeto, adote um de nossos pets. São todos companheiros e carinhosos.<br>
            Para adotar algum de nossos animais, é muito simples, você só precisa procurar pelo pet que mais 
            se identifica e clicar no botão de adoção e preencher o formulário para entrar em contato conosco, 
            feito isso iremos analisar seus dados e lhe retornaremos a uma réplica acerca da analise feita.
        </p>
    </center>
    <div id="carouselExampleIndicators" class="carousel slide " data-ride="carousel">
        <ol class="carousel-indicators">
            <li style="background-color: #28784d;" data-target="#carouselExampleIndicators" data-slide-to="0"
                class="active">
            </li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="d-block w-100" src="../../../public/img/slide3.png" height="600" alt="First slide">
                <div class="carousel-caption d-none d-md-block">
                    <h1>Adote</h1>
                    <h5>Uma companhia para a vida</h5>
                </div>
            </div>
        </div>
    </div>
    <br>

    <div class="container">
            {{#each postagens}}
            <div class="row mb-5">
                <div class="col-sm-2">
                    <img class="imagens" src="{{tb_postagem_img}}" width="120px" height="120px">
                </div>
                <div class="col-sm">
                    <h5>{{tb_postagem_titulo}}</h5>
                    <p>
                        {{tb_postagem_conteudo}}
                    </p>
                    <div class="text-left">
                            <a class="btn btn-sm btn-success" href="/form_adocao/{{tb_pet_id}}&{{tb_postagem_id}}&{{tb_protetor_id}}" style="color:white"> Adotar </a>
                    </div>
                </div>
            </div>
            <hr>
            {{/each}}
    </div>
</div>