<div >
    <center class="container">
        <h1>
            Apadrinhe! Ame!
        </h1>
        <br>
        <p>
            Por conta da pandemia mundial do COVID-19 a taxa de animais abandonados que já era bem alta, 
            aumentou ainda mais. E para ajudar nossos protetores a cuidarem com carinho, você pode se tornar madrinha 
            ou padrinho de algum de nossos pets, basta dar uma olhada e escolher aquele pelo qual você se apaixonar e 
            decidir ajudar mensalmente. O dinheiro que você doará será utilizado para todo o tipo de cuidados que seu pet necessitar, 
            como por exemplo, alimentação, higienização, atendimento veterinário e entre outros.
        </p>
    </center>
    <div id="carouselExampleIndicators" class="carousel slide " data-ride="carousel">
        <ol class="carousel-indicators">
            <li style="background-color: #28784d;" data-target="#carouselExampleIndicators" data-slide-to="0"
                class="active">
            </li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="d-block w-100" src="../../../public/img/slideApadrinhamento.jpg" height="600" alt="First slide">
                <div class="carousel-caption d-none d-md-block">
                    <h1>Apadrinhe</h1>
                    <h5>Esse pet será grato para sempre por você!</h5>
                </div>
            </div>
        </div>
    </div>
    <br>

    <div class="container">
        <div class="container">
            {{#each postagens}}
            <div class="row mb-5">
                <div class="col-sm-2">
                    <img class="imagens" src="{{tb_postagem_img}}" width="120px" height="120px">
                </div>
                <div class="col-sm">
                    <h5>{{tb_postagem_titulo}}</h5>
                    <p>
                        {{tb_postagem_conteudo}}
                    </p>
                    <div class="text-left">
                            <a class="btn btn-sm btn-success" href="/form_apadrinhamento/{{tb_pet_id}}&{{tb_postagem_id}}&{{tb_protetor_id}}" style="color:white;"> Apadrinhar </a>
                    </div>
                </div>
            </div>
            <hr>
            {{/each}}
        </div>
    </div>
</div>