
<div class="container ">
    <h1>Lista de doações</h1>
    <br>
    <a href="/home_adm" style="color: ivory" class="btn btn-success btn">Voltar</a>
    <br>
    <br>
    <div class="row">
        <div class="col-md-8">
            <select class="custom-select" name="tipodoacao" id="idTipodoacao" >
                <option value="">Geral</option>
                {{#each tipoDoacao}}
                    <option value="{{tb_tipodoacao_id}}">{{tb_tipodoacao_tipo}}</option>
                {{/each}}
            </select>
        </div>
        <input type="button" value="Buscar!" class="btn btn-success col-md-2" onclick="redirecionar()"></input>
        <script>
            function redirecionar(){
                var e = document.getElementById("idTipodoacao");
                var id = e.value;
                document.location.href = "/doacoes/"+id;
            }
        </script>
    </div>
    <br>
    <br>
    <table class="table table-bordered table-responsive-sm">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Doador</th>
                <th scope="col">Tipo doação</th>
                <th scope="col">Descrição</th>
                <th scope="col">Nome</th>
                <th scope="col">Quantia</th>
                <th scope="col">Estado</th>
                <th scope="col">Encaminhar</th>
                <th scope="col">Estado Pagamento</th>
                {{#if (verificaAdm id)}}
                <th scope="col">Excluir</th>
                {{else}}
                {{/if}}
                
            </tr>
        </thead>
        <tbody>
            {{#doacao }}
            <tr>
                <th scope="row">{{tb_doacao_id}}</th>
                <td>{{tb_doador_id}}</td>
                <td>{{tb_tipodoacao_id}}</td>
                <td>{{tb_doacao_descricao}}</td>
                <td>{{tb_doacao_nomedoador}}</td>
                <td>{{tb_doacao_quantia}}</td>
                <td>{{tb_doacao_estado}}</td>
                <td>
                    {{#if (encaminhamento tb_tipodoacao_id)}}
                    <center>
                        <a type="button" class="btn-primary btn" href="/adcencaminhamento/{{tb_doacao_id}}" id="btn_encaminhar" disabled="true">Encaminhar</a>
                    </center>
                    {{else}}
                    
                    {{/if}}
                </td>
                <td>
                    {{#if (estado tb_doacao_estado)}}
                        <center>
                            <a class="btn-danger btn-block btn" href="/invalidarpagamento/{{tb_doacao_id}}&ANALISE" >Invalidar</a>
                        </center>
                    {{else}}
                        <center>
                            <a class="btn-primary btn-block btn" href="/validarpagamento/{{tb_doacao_id}}&PAGO">Validar</a>
                        </center>
                    {{/if}}
                </td>
                {{#if (verificaAdm ../id)}}
                    <td>
                        <center>
                            <a class="btn-danger btn-block btn" href="/excluirdoacao/{{tb_doacao_id}}">Excluir</a>
                        </center>
                    </td>
                {{else}}
                {{/if}}
            </tr>
            {{/doacao}}
        </tbody>
    </table>
</div>
<br>