<div class="container ">
    <h1>Lista de doações</h1>
    <br>
    <div class="row">
        <div class="col-10">
            <a href="/doe" style="color: ivory" class="btn btn-success btn">Página de Doação</a>
        </div>
        <div class="col">
            <a href="/logout" style="color: ivory" class="btn btn-success btn" >Sair</a>
        </div>
    </div>
    <br>
    <br>
    <div class="row">
        <div class="col-md-8">
        </div>
        <script>
        </script>
    </div>
    <br>
    <br>
    <table class="table table-bordered table-responsive-sm">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Doador</th>
                <th scope="col">Tipo doação</th>
                <th scope="col">Descrição</th>
                <th scope="col">Nome</th>
                <th scope="col">Quantia</th>
                <th scope="col">Continuar</th>
            </tr>
        </thead>
        <tbody>
            {{#each doacoes}}
            <tr>
                <th scope="row">{{tb_doacao_id}}</th>
                <td>{{tb_doador_id}}</td>
                <td>{{tb_tipodoacao_id}}</td>
                <td>{{tb_doacao_descricao}}</td>
                <td>{{tb_doacao_nomedoador}}</td>
                <td>{{tb_doacao_quantia}}</td>
                <td>{{#if (continuar_doando tb_tipodoacao_id)}}
                        <form action="/continuar_apadrinhando" method="POST">
                            <input type="hidden" name="doacao" value="{{tb_doacao_id}}">
                            <button style="background-color:rgb(18, 73, 110); width: 200px; height: 70px" class="btn btn-success btn-block" type="submit">Continuar Apadrinhando</button>
                        </form>
                    {{else}}
                        
                    {{/if}}
                </td>
            </tr>

            {{/each}}
        </tbody>
    </table>
</div>
<br>