<div class="container"> 
    <h1>Lista de Encaminhamentos</h1>
    <br>
    <table class="table table-bordered table-responsive-sm">
        <thead>
            <th scope="col">ID</th>
            <th scope="col">Portador do Pet</th>
            <th scope="col">Pet</th>
            <th scope="col">Data</th>
            <th scope="col">Hora</th>
            <th scope="col">Botão</th>
        </thead>
        <tbody>
            <tr> 
                <th scope="row">0</th>
                <td>Teste</td>
                <td>Teste</td>
                <td>Teste</td>
                <td>Teste</td>
            </tr>
            {{#each encaminhamento}}
            <tr> 
                <th scope="row">{{ID}}</th>
                <td>{{NOME_PROTETOR}}</td>
                <td>{{NOME_PET}}</td>
                <td>{{DATA}}</td>
                <td>{{HORA}}</td>
                <td><center><a class="btn-primary btn" href="/adcencaminhamento/{{tb_doacao_id}}">Encaminhar</a></center></td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>